h1{
    color: white;
    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 69px;
    font-style: italic;
    margin:0;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
h1:hover {
  text-shadow:5px 5px 7px rgb(186, 31, 200);
  transform: scale(1.05); /* Make the text scale up slightly on hover */
}
nav{
    background-image: url(../images/skillsbg2.avif);
    color: white;
    
    font-style: italic;
  }
  ul,li,h2{
    display: inline;
  }
   nav ul{
    margin-left: 60%;
  }
  nav li{
    margin-left: 10px;
    cursor: pointer;
  }
  a{
  color:white;
  
  }
  a:hover{
    color: skyblue;
  }


  
.skill img{
    border-radius: 20%;
    height: auto;
    width: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 10px 10px 10px rgb(31, 144, 200);
}
.skill:hover img{
  transform: scale(1.05); /* Adjust the scale factor for the pop-up size */
    box-shadow: 12px 12px 15px skyblue;
}
.skill ul{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.icons{
  text-align: center;
  padding: 10px;
  font-size: 40px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin:0px;
}
.icons a{
  color: skyblue;
  text-decoration: none;
  display: inline-block; /* Ensure transform works correctly */
transition: transform 0.3s ease-in-out;
  /*margin: 0 15px;*/
}
.icons a:hover{
  color: white;
  transform: scale(1.2); 
}
  
body {
  cursor: none; /* Hide the default cursor */
}

.pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Slightly bigger main pointer */
  height: 50px; 
  background: radial-gradient(circle, rgb(18,145,236) 0%, rgb(18,145,236) 100%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: screen;
  transition: width 0.1s ease-out, height 0.1s ease-out, opacity 0.2s ease-in-out;
  filter: blur(3px);
}

.trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
        height: 30px;
        background:rgb(18,145,236);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-out;
  filter: blur(2px);
}


